*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:#313131;
}

